@model ShoppingCart

<form method="post">
    <input type="hidden" asp-for="ProductId" />
    <div class="card shadow border-0 mt-4 mb-4">
        <!-- Header -->
        <div class="card-header bg-secondary bg-gradient text-light py-4">
            <div class="row">
                <div class="col-12 text-center">
                    <h3 class="text-white text-uppercase">@Model.Product.Name </h3>
                    <p class="text-white-50 fw-semibold mb-0"> (@Model.Product.ModelNumber)</p>
                </div>
            </div>
        </div>

        <!-- Body -->
        <div class="card-body">
            <div class="py-3">
                <!-- Back to Home Button -->
                <div class="row">
                    <div class="col-6 col-md-2 offset-lg-1 pb-1">
                        <a asp-action="Index" class="btn btn-outline-primary bg-gradient mb-5 fw-semibold btn-sm text-uppercase">
                            <small>Back to home</small>
                        </a>
                    </div>
                </div>

                <!-- Product Details -->
                <div class="row">
                    <div class="col-12 col-lg-3 offset-lg-1 text-center mb-3">
                        <img src="@Model.Product.ImageUrl" class="rounded w-100" alt="@Model.Product.Name" />
                    </div>
                    <div class="col-12 col-lg-6 offset-lg-1">
                        <!-- Category -->
                        <div class="mb-3">
                            <span class="badge bg-primary text-light">@Model.Product.Category.Name</span>
                        </div>

                        <!-- Warranty Period -->
                        <p><strong>Warranty:</strong> @Model.Product.WarrantyPeriod</p>

                        <!-- Features -->
                        <p><strong>Features:</strong> @Html.Raw(Model.Product.Features)</p>

                        <!-- Power Consumption -->
                        <p><strong>Power Consumption:</strong> @Model.Product.PowerConsumption</p>

                        <!-- Pricing -->
                        <div class="mb-3">
                            <p class="mb-0">
                                <strong>List Price:</strong>
                                <span class="text-decoration-line-through">
                                    @Model.Product.ListPrice.ToString("$#,##")
                                </span>
                            </p>
                            <p>
                                <strong>Discount Price:</strong>
                                <span class="text-success fw-bold">
                                    @Model.Product.DiscountPrice.ToString("$#,##")
                                </span>
                            </p>
                        </div>

                        <!-- Description -->
                        <p class="text-secondary lh-sm">@Html.Raw(Model.Product.Description)</p>

                        <!-- Quantity -->
                        <div class="mb-3">
                            <div class="input-group">
                                <span class="input-group-text bg-primary text-white border-0 fw-semibold">
                                    Quantity
                                </span>
                                <input asp-for="Count" type="number" value="1" class="form-control text-end" />
                            </div>
                        </div>

                        <!-- Add to Cart Button -->
                        <button type="submit" class="btn btn-primary bg-gradient w-100 py-2 text-uppercase fw-semibold">
                            Add to Cart
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</form>
